input[type=number]{
  width: 120%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize:vertical;
  margin-left:70px;
}
.the_main{
  display:flex;
  padding:10px;

}

td,th {
  padding:8px;
  border:1px solid #dddddd;
  text-align:left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table {
  border-spacing: 5px;
  font-family:arial,sans-serif;
  border-collapse:collapse;
  width:100%;
}
.rowb:after{
  content: "";
  display: table;
  clear: both;
}
.rowb{
  display: flex;
  justify-content:center;
  font-size:20px;
}

label{
  padding: 12px 12px 12px 0;
  display: inline-block;
  background-color:#e74c3c;
  width:40px;
  height:20px;
  font-weight:bold;
  text-align:center;
  font-size:19px;
  border-radius:80px;
}
label.compliant{
  background-color: green !important;
  color:white;
}
.title,h1{
  text-align:center;
  font-style:italic;
  font-size:40px;
}
/* Style the submit button */
 input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 20px 100px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  float: right;
}

.container{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;

}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 3%;
  margin-top: 3px;
}

/* Floating column for inputs: 75% width */
.col-75{
  float: left;
  width: 50%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width:600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top:0px;
  }
}
